In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Load data
df = pd.read_csv('Global 500_2017.csv')
df.head()

,Rank,Company Name,Country,Number of Employees,Previous Rank,Revenues($millions),Revenue Change,Profits($millions),Profit Change,Assets($millions)
0,1,Walmart,USA,"2,300,000",1,"$485,873",0.8%,"$13,643.0",-7.2%,"$198,825"
1,2,State Grid,China,"926,067",2,"$315,199",-4.4%,"$9,571.3",-6.2%,"$489,838"
2,3,Sinopec Group,China,"713,288",4,"$267,518",-9.1%,"$1,257.9",-65.0%,"$310,726"
3,4,China National Petroleum,China,"1,512,048",3,"$262,573",-12.3%,"$1,867.5",-73.7%,"$585,619"
4,5,Toyota Motor,Japan,"364,445",8,"$254,694",7.7%,"$16,899.3",-12.3%,"$437,575"

In [3]:
# Analyze data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 500 non-null    int64
 1   Company Name         500 non-null    object
 2   Country              500 non-null    object
 3   Number of Employees  500 non-null    object
 4   Previous Rank        500 non-null    object
 5   Revenues($millions)  500 non-null    object
 6   Revenue Change       500 non-null    object
 7   Profits($millions)   500 non-null    object
 8   Profit Change        500 non-null    object
 9   Assets($millions)    500 non-null    object
dtypes: int64(1), object(9)
memory usage: 39.2+ KB

In [4]:
df.shape

(500, 10)

In [5]:
df.count()

Rank                   500
Company Name           500
Country                500
Number of Employees    500
Previous Rank          500
Revenues($millions)    500
Revenue Change         500
Profits($millions)     500
Profit Change          500
Assets($millions)      500
dtype: int64

In [6]:
# Replace empty with null values
df['Profits($millions)'] = df['Profits($millions)'].replace('-', np.nan)
df['Revenue Change'] = df['Revenue Change'].replace('-', np.nan)
df['Profit Change'] = df['Profit Change'].replace('-', np.nan)
df['Previous Rank'] = df['Previous Rank'].replace('-', np.nan)

In [7]:
# Change the types
df['Revenues($millions)'] = df['Revenues($millions)'].str.replace('$', '').str.replace(',', '').astype('float')
df['Profits($millions)'] = df['Profits($millions)'].str.replace('$', '').str.replace(',', '').astype('float')
df['Assets($millions)'] = df['Assets($millions)'].str.replace('$', '').str.replace(',', '').astype('float')
df['Profit Change'] = df['Profit Change'].str.replace('%', '').str.replace(',', '').astype('float')
df['Number of Employees'] = df['Number of Employees'].str.replace(',', '').astype('float')
df['Revenue Change'] = df['Revenue Change'].str.replace('%', '').astype('float')
df['Previous Rank'] = df['Previous Rank'].astype('float')

In [8]:
rank_change = df['Previous Rank'] - df['Rank']
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()
print(rank_change_max, rank_change_min)

226.0 -199.0

In [9]:
rank = df['Rank']
rank.describe()

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: Rank, dtype: float64

In [10]:
prev_rank = df['Previous Rank']
prev_rank.describe()

count    467.000000
mean     237.830835
std      139.211279
min        1.000000
25%      117.500000
50%      236.000000
75%      355.500000
max      500.000000
Name: Previous Rank, dtype: float64

In [11]:
print(df.max(numeric_only=True))

Rank                       500.0
Number of Employees    2300000.0
Previous Rank              500.0
Revenues($millions)     485873.0
Revenue Change             442.3
Profits($millions)       45687.0
Profit Change            89095.0
Assets($millions)      3473238.0
dtype: float64